  <%= render 'flash' %>


  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h3 class="text-center">User info</h3>

        <% if @user.errors.any? %>
          <div class="alert alert-danger">
            <strong><%= @user.errors.count %> error(s) prohibited this user from being saved:</strong>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form_with model: @user, html: { class: 'form' } do |f| %>
          <div class="form-group">
            <%= f.label :name, class: 'form-label' %>
            <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "名前" %>
          </div>

          <div class="form-group">
            <%= f.label :profile_image, 'Image' %>
            <%= f.file_field :profile_image, class: 'form-control-file', placeholder: "プロフィール画像", accept: "image/*" %>
          </div>

          <div class="form-group">
            <%= f.label :introduction, class: 'form-label' %>
            <%= f.text_field :introduction, autofocus: true, class: 'form-control', placeholder: "Introduction" %>
          </div>

          <div class="form-group text-center">
            <%= f.submit "Update User", class: 'btn btn-secondary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>