<div class="card mt-3">
  <div class="card-body">
    <h1 class="card-title">New Book</h1>
    <%= form_with model: book, local: true do |f| %>
      <div class="mb-3">
        <label for="book_title">Title</label>
        <%= f.text_field :title, class: "form-control", id: "book_title" %>
      </div>
      <div class="mb-3">
        <label for="book_opinion">Opinion</label>
        <%= f.text_area :body, class: "form-control", id: "book_opinion" %>
      </div>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit 'Create Book', class: "btn btn-success w-100" %>
    <% end %>
  </div>
</div>
