<%= render 'users/flash' %>

<% if @book.errors.any? %>
  <div class="alert alert-danger">
    <%= @book.errors.count %> error(s) prohibited this book from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container mt-4">
  <div class="row">
    <!-- 左側のカラム -->
    <div class="col-md-3">
      <%= render 'users/user_info' %>
      <%= render 'book_form', book: @book %>
    </div>
    <!-- 右側のカラム -->
    <div class="col-md-8 offset-md-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Books</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Opinion</th>
              </tr>
            </thead>
            <tbody>
              <% @books.each do |book| %>
              <tr>
                <td>
                  <%= image_tag book.user.get_profile_image(100, 100), alt: 'User profile image', class: 'img-thumbnail' %>
                </td>
                <td>
                  <%= link_to book_path(book.id) do %>
                    <%= book.title %>
                  <% end %>
                </td>
                <td><%= book.body %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
